.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
