.image {
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
  }
}

.actions {
  position: absolute;
  z-index: 100;
  left: 14px;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
