.wrapper {
  width: 100%;
  padding: 16px;

  background-color: var(--mantine-color-dark-8);

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: var(--mantine-color-white);
}
